.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .counter {
    background: #000;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .digit {
    background: #333;
    padding: 15px 20px;
    margin: 0 5px;
    display: inline-block;
    border-radius: 5px;
    font-size: 4rem;
  }
  
  .fa-clock {
    color: hsl(43, 87%, 58%);
    margin-right: 20px;
    font-size: 4rem;
  }
  
  .buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  .buttons button {
    background-color: hsl(43, 87%, 58%);
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
  }
  
  .buttons button:hover {
    background-color: hsl(43, 87%, 38%);
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .digit,
    .fa-clock {
      font-size: 2rem;
      padding: 10px 15px;
    }
  
    .buttons button {
      padding: 5px 10px;
      font-size: 0.8rem;
    }
  }
  
  @media (max-width: 480px) {
    .digit,
    .fa-clock {
      font-size: 1.5rem;
      padding: 8px 12px;
      margin: 0 3px;
    }
  
    .counter {
      flex-direction: column;
    }
  
    .fa-clock {
      margin: 0 0 20px 0;
    }
  
    .buttons {
      width: 100%;
      flex-direction: column;
    }
  
    .buttons button {
      width: 100%;
      margin-bottom: 5px;
    }
  }